<!doctype html> {% load cms_tags sekizai_tags %} {% load static %}
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <title>M7</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="{% static 'site.webmanifest' %}">
    <link rel="apple-touch-icon" href="{% static 'icon.png' %}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,500;0,600;1,400&family=Manrope:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <meta name="theme-color" content="#fafafa"> {% render_block "css" %}
</head>

<body>
    {% cms_toolbar %}
    <div id="app">

        <app-header home-link="./">
            <ul class="header-nav header-nav--dark">
                <li class="header-nav__item">
                    <a href="#" class="header-nav__link">Menu #1</a>
                </li>
                <li class="header-nav__item">
                    <a href="#" class="header-nav__link active" aria-current="page">Menu #2</a>
                </li>
                <li class="header-nav__item">
                    <a href="#" class="header-nav__link">Menu #3</a>
                </li>
            </ul>
        </app-header>

        <section class="hello">
            <!--
          <picture class="hello__picture">
          <source media="(max-width:699px)" srcset="./img/hello-about-us-mobile-bg.jpg 1x, ./img/hello-about-us-mobile-bg@2x.jpg 2x">
          <source media="(min-width:700px)" srcset="./img/hello-about-us-desktop-bg.jpg 1x, ./img/hello-about-us-desktop-bg@2x.jpg 2x">
          <img src="./img/hello-about-us-desktop-bg.jpg" alt="">
        </picture>
        -->
            {% placeholder "hello_picture" %}
        </section>


        <section class="section section--spacer container">
            {% placeholder "text_center" %}

            <div class="row gx-lg-6">
                <div class="col-md-6">

                    <div class="sticky-top">
                        {% placeholder "text_we_are" %} {% placeholder "link_button" %}
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="text-center">

                        <!--
                          <figure class="figure mb-6 mb-md-9">
                  <img src="./img/about-us.jpg" srcset="./img/about-us@2x.jpg 2x" alt="">
                </figure>
                -->
                        {% placeholder "about_us_picture" %}

                    </div>

                    <div class="section__name">M7 group founders</div>

                    <ul class="list-border">
                        <li><span>Hedvig</span> Juell</li>
                        <li><span>Helen</span> Juell</li>
                        <li><span>Maren</span> Juell</li>
                        <li><span>Olympia</span> Paus</li>
                        <li><span>Pontine</span> Paus</li>
                        <li><span>Cathrine</span> Løvenskiold Wilhelmsen</li>
                        <li><span>Hannah</span> Eshete Wilhelmsen</li>
                    </ul>

                </div>
            </div>
        </section>

        <section class="section-picture section--spacer">

            <div class="m7-dot mx-auto">
                <span class="m7-dot__title">M7</span>
            </div>
            <!--
             <picture class="section-picture__picture">
          <source media="(max-width: 799px)" srcset="./img/section-m7-bg-mobile.jpg 1x, ./img/section-m7-bg-mobile@2x.jpg 2x">
          <source media="(min-width: 800px)" srcset="./img/section-m7-bg-desktop.jpg 1x, ./img/section-m7-bg-desktop@2x.jpg 2x">
          <img src="./img/section-news-bg-desktop.jpg" alt="">
        </picture>

        -->
            <img src="{% static '/img/section-news-bg-desktop.jpg' %}" alt="">

        </section>

        <section class="section section--spacer">
            {% placeholder text_bottom %}
        </section>

        <footer class="footer section--spacer">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <span class="section__name mb-5">Contact info</span>
                        <a href="mailto:" class="footer__info-link">
                            <span>hello@mgrupppen.no</span>
                        </a><br>
                        <a href="tel:+4712345600" class="footer__info-link">
                (+47) 12 34 56 00
              </a>

                        <div class="my-4">
                            <a href="#" class="social-dot"><i class="icon icon-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <ul class="footer__nav mb-4 mb-md-0">
                            <li><a href="#">Discussion</a></li>
                            <li><a href="#">Get in touch</a></li>
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Contact info</a></li>
                            <li><a href="#">Privacy policy</a></li>
                            <li><a href="#">Cookies</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 align-self-end">
                        <span class="copyright">
                2021 &copy; M7 Group
              </span>

                        <div class="created-by mt-2">
                            <a href="//www.wdf.cz" target="_blank" rel="noopener noreferrer"><i class="icon icon-wdf"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script src="{% static 'js/bundle.js' %}" type="module"></script>
    {% render_block "js" %}
</body>

</html>